* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:url("https://i.imgur.com/vFUZk2h.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    position: fixed;
    top: 5px;
    left: 10px;
    margin-top: -10px;
}

.logo-container {
    position: relative;
    display: inline-block;
    padding: 1px;
}

.logo {
    width: 40px;
    cursor: pointer;
    margin-top: 10px;
    z-index: 9999;
    transition: transform 0.5s ease-in-out;
}

.nav-links {
    list-style: none;
    position: absolute;
    top: 5%;
    left: -45px;
    background-color: rgb(35, 39, 101);
    padding: 16px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    white-space: nowrap;
    gap: 15px;
    z-index: -9999;
    width: 310px;
}

.nav-links li a {
    position: relative;
    left: 20px;
    color: white;
    font-size: 18px;
    /*font-weight: bold;*/
    text-decoration: none;
    font-family: "Encode sans Expanded";
}

.nav-item {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    transition: background 0.3s ease;
}

.nav-item:hover {
    background: rgb(21, 90, 120);
    color: rgb(178, 178, 178);
    border-radius: 50px;
}

.logo-container:hover .nav-links {
    opacity: 1; 
    transform: translateX(40px);
    transition: transform 0.4s ease-in-out;
    padding-left: 60px;
    display: flex; 
    z-index: -9999;
}

.logo:hover {
    transform: rotate(360deg);
}

.logo:not(:hover) {
    transform: rotate(-360deg);
}

.logo-container:not(:hover) .nav-links {
    transform: translateX(-220px);
    transition: transform 0.4s ease-in-out;
    padding-left: 60px;
    display: flex; 
    z-index: -9999;
}

.bar {
    background: rgb(85, 89, 121); /* Dark background */
    height: 50px;
    width: 100%; 
    position: fixed; /* Keep it at the top */
    top: 0;
    left: 0;
    display: flex; /* Make sure navbar is inside */
    align-items: center;
    padding-left: 10px;
    z-index: 1000; /* Ensure it's on top */
}

.parentbox {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    margin-top: 100px;
    padding: 0 10vw;
}
.mapbox {
    height: 75vh;
    width: 50vw;
    background-color: rgb(217, 217, 217);
    border-radius: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
    /* margin-bottom: 60px; */
    /* margin-left: 185px; */
    /* margin-right: 920px; */
    z-index: 1;
    box-shadow: 0px 8px 5px #0e0f3b;

}
#map {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.chatbox {
    height: 75vh;
    width: 27vw;
    background-color: rgb(213, 227, 233);
    border-radius: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
    /* margin-left: 960px; */
    /* margin-right: 170px; */
    z-index: 1;
    box-shadow: 0px 8px 5px #0e0f3b;
}

@media screen and (max-width: 1200px) {
    .parentbox {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .mapbox {
        width: 80vw;
        margin-bottom: 2%;
    }
    .chatbox {
        width: 80vw;
    }
}
@media screen and (max-width: 768px) {
    .mapbox,
    .chatbox {
        width: 90vw;
        margin: 10px 0;
    }
    .parentbox {
        margin-top: 120px;
    }
}

/*For the chatbox:*/
#chat-logo {
    display: block;
    padding: 5px;
    max-width: 40%;
    width: auto;
    object-fit: contain;
}
  
#chat-history {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    overflow-y: auto;
}

.user-message, .bot-message {
    color: #0e0f3b;
    display: inline-block;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 92%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.user-message {
    align-self: flex-end;
    text-align: right;
    background-color: #f0f0f0;
}
  
.bot-message {
    align-self: flex-start;
    text-align: left;
    background-color: #f7931e;
}
  
form {
    display: flex;
    padding: 5px;
}
input, button{
    margin-bottom: 10px;
}
input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
}
  
button {
    background-color: #0e0f3b;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    background-color: #07407b;
}

#loader {
  display: none; /* Hide by default */
  opacity: 0.8;
  position: absolute;
  top: 50%;
  left: 76.5%;
  transform: translate(-50%, -50%);
}

/*custom scrollbar*/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track:hover {
    background-color: rgba(164, 174, 179, 0.6); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #a7d0e1; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6fa7c0; 
}
